*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:8px;
    margin:0;
}

:root{
    --h2FontSize: 200%;
}

body{
    height:100%;
    margin:0;
    padding:0;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.horizontal{
    display: flex;
    flex-direction: row;  
    justify-content: left;
}
.vertical{
    display: flex;
    flex-direction: column;  
    justify-content: top;
}
.right{
    justify-content: right;
    width: 100%;
}
.center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.left{
    justify-content: left;
    width: 100%;
}
.navbar{
    flex-direction:row;
    justify-content: center;
}
.backgroundpicture{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
#Address{
    color:darkgray
}

/* h1 for NAME, h2 for titles, h3 for smaller titles */
h1{
    font-size:400%;
}
h2{
    font-size:var(--h2FontSize);
}
h3{

}

.halfScreen{
    width:50%;
    height:auto;
    margin-left: 5%;
    margin-right: 5%;
}

.menuButton{
    width:300px;
    height:100px;
    margin:2%;
    font-size:var(--h2FontSize);
    border-radius:20%;
}

